**/bin/**
**/obj/**
src/packages/Newtonsoft.Json**

**.suo
**.user
**.DotSettings

**.sln.ide/**
**.vs/**

/src/NJsonSchema.sln.GhostDoc.xml

[Bb]in/
[Oo]bj/
/src/packages
.vs
/src/NJsonSchema.CodeGeneration.Tests2
*.vspx
/src/TestResults
