<#@ template visibility="internal" #>
<# if(Model.HasDescription){ #>/// <summary><#=ConversionUtilities.ConvertCSharpDocBreaks(Model.Description, 0)#></summary>
<# } #>[System.CodeDom.Compiler.GeneratedCode("NJsonSchema", "<#=JsonSchema4.ToolchainVersion#>")]
<#=Model.TypeAccessModifier#> enum <#=Model.Name#>
{
<# foreach(var pair in Model.Enums){ 
   if(Model.IsStringEnum){#>    [System.Runtime.Serialization.EnumMember(Value = "<#=pair.Value#>")]
<#}#>    <#=pair.Name#> = <#=pair.InternalValue#>,

<#} #>}