{
  "openapi": "3.0.3",
  "info": {
    "title": "Subscriptions",
    "description": "You can use billing plans and subscriptions to create subscriptions that process recurring PayPal payments for physical or digital goods, or services. A plan includes pricing and billing cycle information that defines the amount and frequency of charge for a subscription. You can also define a fixed plan, such as a $5 basic plan or a volume- or graduated-based plan with pricing tiers based on the quantity purchased. For more information, see <a href=\"/docs/subscriptions/\">Subscriptions Overview</a>.",
    "version": "1.8",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    },
    {
      "url": "https://api-m.paypal.com",
      "description": "PayPal Live Environment"
    }
  ],
  "tags": [
    {
      "name": "plans",
      "description": "Use the `/billing/plans` resource to create and manage plans."
    },
    {
      "name": "subscriptions",
      "description": "Use the `/billing/subscriptions` resource to create and manage subscriptions."
    },
    {
      "name": "subscriptions-buyer-consent",
      "description": "Use the `/billing/subscriptions/approval-tokens` resource for subscriptions buyer consent flow."
    }
  ],
  "externalDocs": {
    "url": "https://developer.paypal.com/docs/api/subscriptions/v1/"
  },
  "paths": {
    "/v1/billing/plans": {
      "post": {
        "summary": "Create plan",
        "description": "Creates a plan that defines pricing and billing cycle details for subscriptions.",
        "operationId": "plans.create",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows billing plan details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                },
                "examples": {
                  "plan": {
                    "value": {
                      "id": "P-5ML4271244454362WXNWU5NQ",
                      "product_id": "PROD-XXCD1234QWER65782",
                      "name": "Video Streaming Service Plan",
                      "description": "Video Streaming Service basic plan",
                      "status": "ACTIVE",
                      "billing_cycles": [
                        {
                          "frequency": {
                            "interval_unit": "MONTH",
                            "interval_count": 1
                          },
                          "tenure_type": "TRIAL",
                          "sequence": 1,
                          "total_cycles": 2,
                          "pricing_scheme": {
                            "fixed_price": {
                              "value": "3",
                              "currency_code": "USD"
                            },
                            "version": 1,
                            "create_time": "2020-05-27T12:13:51Z",
                            "update_time": "2020-05-27T12:13:51Z"
                          }
                        },
                        {
                          "frequency": {
                            "interval_unit": "MONTH",
                            "interval_count": 1
                          },
                          "tenure_type": "TRIAL",
                          "sequence": 2,
                          "total_cycles": 3,
                          "pricing_scheme": {
                            "fixed_price": {
                              "currency_code": "USD",
                              "value": "6"
                            },
                            "version": 1,
                            "create_time": "2020-05-27T12:13:51Z",
                            "update_time": "2020-05-27T12:13:51Z"
                          }
                        },
                        {
                          "frequency": {
                            "interval_unit": "MONTH",
                            "interval_count": 1
                          },
                          "tenure_type": "REGULAR",
                          "sequence": 3,
                          "total_cycles": 12,
                          "pricing_scheme": {
                            "fixed_price": {
                              "currency_code": "USD",
                              "value": "10"
                            },
                            "version": 1,
                            "create_time": "2020-05-27T12:13:51Z",
                            "update_time": "2020-05-27T12:13:51Z"
                          }
                        }
                      ],
                      "payment_preferences": {
                        "auto_bill_outstanding": true,
                        "setup_fee": {
                          "value": "10",
                          "currency_code": "USD"
                        },
                        "setup_fee_failure_action": "CONTINUE",
                        "payment_failure_threshold": 3
                      },
                      "taxes": {
                        "percentage": "10",
                        "inclusive": false
                      },
                      "create_time": "2020-05-27T12:13:51Z",
                      "update_time": "2020-05-27T12:13:51Z",
                      "links": [
                        {
                          "href": "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ",
                          "rel": "self",
                          "method": "GET"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ",
                          "rel": "edit",
                          "method": "PATCH"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ/deactivate",
                          "rel": "deactivate",
                          "method": "POST"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ/update-pricing-schemes",
                          "rel": "edit",
                          "method": "POST"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows billing plan details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/plans.create-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/plan_request_POST"
              },
              "examples": {
                "plan_request_post": {
                  "value": {
                    "product_id": "PROD-XXCD1234QWER65782",
                    "name": "Video Streaming Service Plan",
                    "description": "Video Streaming Service basic plan",
                    "status": "ACTIVE",
                    "billing_cycles": [
                      {
                        "frequency": {
                          "interval_unit": "MONTH",
                          "interval_count": 1
                        },
                        "tenure_type": "TRIAL",
                        "sequence": 1,
                        "total_cycles": 2,
                        "pricing_scheme": {
                          "fixed_price": {
                            "value": "3",
                            "currency_code": "USD"
                          }
                        }
                      },
                      {
                        "frequency": {
                          "interval_unit": "MONTH",
                          "interval_count": 1
                        },
                        "tenure_type": "TRIAL",
                        "sequence": 2,
                        "total_cycles": 3,
                        "pricing_scheme": {
                          "fixed_price": {
                            "value": "6",
                            "currency_code": "USD"
                          }
                        }
                      },
                      {
                        "frequency": {
                          "interval_unit": "MONTH",
                          "interval_count": 1
                        },
                        "tenure_type": "REGULAR",
                        "sequence": 3,
                        "total_cycles": 12,
                        "pricing_scheme": {
                          "fixed_price": {
                            "value": "10",
                            "currency_code": "USD"
                          }
                        }
                      }
                    ],
                    "payment_preferences": {
                      "auto_bill_outstanding": true,
                      "setup_fee": {
                        "value": "10",
                        "currency_code": "USD"
                      },
                      "setup_fee_failure_action": "CONTINUE",
                      "payment_failure_threshold": 3
                    },
                    "taxes": {
                      "percentage": "10",
                      "inclusive": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      },
      "get": {
        "summary": "List plans",
        "description": "Lists billing plans.",
        "operationId": "plans.list",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists billing plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan_collection"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_404"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/total_required"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      }
    },
    "/v1/billing/plans/{id}": {
      "get": {
        "summary": "Show plan details",
        "description": "Shows details for a plan, by ID.",
        "operationId": "plans.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows plan details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      },
      "patch": {
        "summary": "Update plan",
        "description": "Updates a plan with the `CREATED` or `ACTIVE` status. For an `INACTIVE` plan, you can make only status updates.<br/>You can patch these attributes and objects:<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>description</code></td><td>replace</td></tr><tr><td><code>payment_preferences.auto_bill_outstanding</code></td><td>replace</td></tr><tr><td><code>taxes.percentage</code></td><td>replace</td></tr><tr><td><code>payment_preferences.payment_failure_threshold</code></td><td>replace</td></tr><tr><td><code>payment_preferences.setup_fee</code></td><td>replace</td></tr><tr><td><code>payment_preferences.setup_fee_failure_action</code></td><td>replace</td></tr><tr><td><code>name</code></td><td>replace</td></tr></tbody></table>",
        "operationId": "plans.patch",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/plans.patch-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/plans.patch-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patch_request"
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      }
    },
    "/v1/billing/plans/{id}/activate": {
      "post": {
        "summary": "Activate plan",
        "description": "Activates a plan, by ID.",
        "operationId": "plans.activate",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/plans.activate-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      }
    },
    "/v1/billing/plans/{id}/deactivate": {
      "post": {
        "summary": "Deactivate plan",
        "description": "Deactivates a plan, by ID.",
        "operationId": "plans.deactivate",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/plans.deactivate-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      }
    },
    "/v1/billing/plans/{id}/update-pricing-schemes": {
      "post": {
        "summary": "Update pricing",
        "description": "Updates pricing for a plan. For example, you can update a regular billing cycle from $5 per month to $7 per month.",
        "operationId": "plans.update-pricing-schemes",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/plans.update-pricing-schemes-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/plans.update-pricing-schemes-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_pricing_schemes_list_request"
              },
              "examples": {
                "update_pricing_schemes_list_request": {
                  "value": {
                    "pricing_schemes": [
                      {
                        "billing_cycle_sequence": 1,
                        "pricing_scheme": {
                          "fixed_price": {
                            "value": "50",
                            "currency_code": "USD"
                          }
                        }
                      },
                      {
                        "billing_cycle_sequence": 2,
                        "pricing_scheme": {
                          "fixed_price": {
                            "value": "100",
                            "currency_code": "USD"
                          },
                          "pricing_model": "VOLUME",
                          "tiers": [
                            {
                              "starting_quantity": "1",
                              "ending_quantity": "1000",
                              "amount": {
                                "value": "150",
                                "currency_code": "USD"
                              }
                            },
                            {
                              "starting_quantity": "1001",
                              "amount": {
                                "value": "250",
                                "currency_code": "USD"
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["plans"]
      }
    },
    "/v1/billing/subscriptions": {
      "post": {
        "summary": "Create subscription",
        "description": "Creates a subscription.",
        "operationId": "subscriptions.create",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription"
                },
                "examples": {
                  "subscription": {
                    "value": {
                      "id": "I-BW452GLLEP1G",
                      "status": "APPROVAL_PENDING",
                      "status_update_time": "2018-12-10T21:20:49Z",
                      "plan_id": "P-5ML4271244454362WXNWU5NQ",
                      "plan_overridden": false,
                      "start_time": "2018-11-01T00:00:00Z",
                      "quantity": "20",
                      "shipping_amount": {
                        "currency_code": "USD",
                        "value": "10.00"
                      },
                      "subscriber": {
                        "name": {
                          "given_name": "John",
                          "surname": "Doe"
                        },
                        "email_address": "customer@example.com",
                        "payer_id": "2J6QB8YJQSJRJ",
                        "shipping_address": {
                          "name": {
                            "full_name": "John Doe"
                          },
                          "address": {
                            "address_line_1": "2211 N First Street",
                            "address_line_2": "Building 17",
                            "admin_area_2": "San Jose",
                            "admin_area_1": "CA",
                            "postal_code": "95131",
                            "country_code": "US"
                          }
                        }
                      },
                      "create_time": "2018-12-10T21:20:49Z",
                      "links": [
                        {
                          "href": "https://www.paypal.com/webapps/billing/subscriptions?ba_token=BA-2M539689T3856352J",
                          "rel": "approve",
                          "method": "GET"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                          "rel": "edit",
                          "method": "PATCH"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                          "rel": "self",
                          "method": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription"
                },
                "examples": {
                  "subscription": {
                    "value": {
                      "id": "I-BW452GLLEP1G",
                      "status": "APPROVAL_PENDING",
                      "status_update_time": "2018-12-10T21:20:49Z",
                      "plan_id": "P-5ML4271244454362WXNWU5NQ",
                      "plan_overridden": false,
                      "start_time": "2018-11-01T00:00:00Z",
                      "quantity": "20",
                      "shipping_amount": {
                        "currency_code": "USD",
                        "value": "10.00"
                      },
                      "subscriber": {
                        "name": {
                          "given_name": "John",
                          "surname": "Doe"
                        },
                        "email_address": "customer@example.com",
                        "payer_id": "2J6QB8YJQSJRJ",
                        "shipping_address": {
                          "name": {
                            "full_name": "John Doe"
                          },
                          "address": {
                            "address_line_1": "2211 N First Street",
                            "address_line_2": "Building 17",
                            "admin_area_2": "San Jose",
                            "admin_area_1": "CA",
                            "postal_code": "95131",
                            "country_code": "US"
                          }
                        }
                      },
                      "create_time": "2018-12-10T21:20:49Z",
                      "links": [
                        {
                          "href": "https://www.paypal.com/webapps/billing/subscriptions?ba_token=BA-2M539689T3856352J",
                          "rel": "approve",
                          "method": "GET"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                          "rel": "edit",
                          "method": "PATCH"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                          "rel": "self",
                          "method": "GET"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.create-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.create-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/prefer"
          },
          {
            "$ref": "#/components/parameters/paypal_request_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription_request_post"
              },
              "examples": {
                "subscription_request_post": {
                  "value": {
                    "plan_id": "P-5ML4271244454362WXNWU5NQ",
                    "start_time": "2018-11-01T00:00:00Z",
                    "quantity": "20",
                    "shipping_amount": {
                      "currency_code": "USD",
                      "value": "10.00"
                    },
                    "subscriber": {
                      "name": {
                        "given_name": "John",
                        "surname": "Doe"
                      },
                      "email_address": "customer@example.com",
                      "shipping_address": {
                        "name": {
                          "full_name": "John Doe"
                        },
                        "address": {
                          "address_line_1": "2211 N First Street",
                          "address_line_2": "Building 17",
                          "admin_area_2": "San Jose",
                          "admin_area_1": "CA",
                          "postal_code": "95131",
                          "country_code": "US"
                        }
                      }
                    },
                    "application_context": {
                      "brand_name": "walmart",
                      "locale": "en-US",
                      "shipping_preference": "SET_PROVIDED_ADDRESS",
                      "user_action": "SUBSCRIBE_NOW",
                      "payment_method": {
                        "payer_selected": "PAYPAL",
                        "payee_preferred": "IMMEDIATE_PAYMENT_REQUIRED"
                      },
                      "return_url": "https://example.com/returnUrl",
                      "cancel_url": "https://example.com/cancelUrl"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}": {
      "get": {
        "summary": "Show subscription details",
        "description": "Shows details for a subscription, by ID.",
        "operationId": "subscriptions.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      },
      "patch": {
        "summary": "Update subscription",
        "description": "Updates a subscription which could be in <code>ACTIVE</code> or <code>SUSPENDED</code> status. You can override plan level default attributes by providing customised values for plan path in the patch request.<br /> <ul> <li>You cannot update attributes that have already completed (Example - trial cycles can’t be updated if completed).</li> <li>Once overridden, changes to plan resource will not impact subscription.</li> <li>Any price update will not impact billing cycles within next 10 days (Applicable only for subscriptions funded by PayPal account).</li> </ul> Following are the fields eligible for patch.<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>billing_info.outstanding_balance</code></td><td>replace</td></tr><tr><td><code>custom_id</code></td><td>add,replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>pricing_scheme.fixed_price</code></td><td>add,replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>pricing_scheme.tiers</code></td><td>replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>total_cycles</code></td><td>replace</td></tr><tr><td><code>plan.payment_preferences.<br/>auto_bill_outstanding</code></td><td>replace</td></tr><tr><td><code>plan.payment_preferences.<br/>payment_failure_threshold</code></td><td>replace</td></tr><tr><td><code>plan.taxes.inclusive</code></td><td>add,replace</td></tr><tr><td><code>plan.taxes.percentage</code></td><td>add,replace</td></tr><tr><td><code>shipping_amount</code></td><td>add,replace</td></tr><tr><td><code>start_time</code></td><td>replace</td></tr><tr><td><code>subscriber.shipping_address</code></td><td>add,replace</td></tr><tr><td><code>subscriber.payment_source (for subscriptions funded<br/>by card payments)</code></td><td>replace</td></tr></tbody></table>",
        "operationId": "subscriptions.patch",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.patch-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.patch-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patch_request"
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}/revise": {
      "post": {
        "summary": "Revise plan or quantity of subscription",
        "description": "Updates the quantity of the product or service in a subscription. You can also use this method to switch the plan and update the `shipping_amount`, `shipping_address` values for the subscription. This type of update requires the buyer's consent.",
        "operationId": "subscriptions.revise",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription_revise_response"
                },
                "examples": {
                  "subscription_revise_response": {
                    "value": {
                      "plan_id": "P-5ML4271244454362WXNWU5NQ",
                      "plan_overridden": false,
                      "shipping_amount": {
                        "currency_code": "USD",
                        "value": "10.00"
                      },
                      "shipping_address": {
                        "name": {
                          "full_name": "John Doe"
                        },
                        "address": {
                          "address_line_1": "2211 N First Street",
                          "address_line_2": "Building 17",
                          "admin_area_2": "San Jose",
                          "admin_area_1": "CA",
                          "postal_code": "95131",
                          "country_code": "US"
                        }
                      },
                      "links": [
                        {
                          "href": "https://www.paypal.com/webapps/billing/subscriptions/update?ba_token=BA-2M539689T3856352J",
                          "rel": "approve",
                          "method": "GET"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                          "rel": "edit",
                          "method": "PATCH"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                          "rel": "self",
                          "method": "GET"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/cancel",
                          "rel": "cancel",
                          "method": "POST"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/suspend",
                          "rel": "suspend",
                          "method": "POST"
                        },
                        {
                          "href": "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/capture",
                          "rel": "capture",
                          "method": "POST"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.revise-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.revise-404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.revise-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription_revise_request"
              },
              "examples": {
                "subscription_revise_request": {
                  "value": {
                    "plan_id": "P-5ML4271244454362WXNWU5NQ",
                    "shipping_amount": {
                      "currency_code": "USD",
                      "value": "10.00"
                    },
                    "shipping_address": {
                      "name": {
                        "full_name": "John Doe"
                      },
                      "address": {
                        "address_line_1": "2211 N First Street",
                        "address_line_2": "Building 17",
                        "admin_area_2": "San Jose",
                        "admin_area_1": "CA",
                        "postal_code": "95131",
                        "country_code": "US"
                      }
                    },
                    "application_context": {
                      "brand_name": "walmart",
                      "locale": "en-US",
                      "shipping_preference": "SET_PROVIDED_ADDRESS",
                      "payment_method": {
                        "payer_selected": "PAYPAL",
                        "payee_preferred": "IMMEDIATE_PAYMENT_REQUIRED"
                      },
                      "return_url": "https://example.com/returnUrl",
                      "cancel_url": "https://example.com/cancelUrl"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}/suspend": {
      "post": {
        "summary": "Suspend subscription",
        "description": "Suspends the subscription.",
        "operationId": "subscriptions.suspend",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.suspend-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.suspend-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription_suspend_request"
              },
              "examples": {
                "subscription_suspend_request": {
                  "value": {
                    "reason": "Item out of stock"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}/cancel": {
      "post": {
        "summary": "Cancel subscription",
        "description": "Cancels the subscription.",
        "operationId": "subscriptions.cancel",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.cancel-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.cancel-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription_cancel_request"
              },
              "examples": {
                "subscription_cancel_request": {
                  "value": {
                    "reason": "Not satisfied with the service"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}/activate": {
      "post": {
        "summary": "Activate subscription",
        "description": "Activates the subscription.",
        "operationId": "subscriptions.activate",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.activate-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.activate-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription_activate_request"
              },
              "examples": {
                "subscription_activate_request": {
                  "value": {
                    "reason": "Reactivating the subscription"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}/capture": {
      "post": {
        "summary": "Capture authorized payment on subscription",
        "description": "Captures an authorized payment from the subscriber on the subscription.",
        "operationId": "subscriptions.capture",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transaction"
                }
              }
            }
          },
          "202": {
            "description": "Request Accepted."
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.capture-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_422"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.capture-422"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription_capture_request"
              },
              "examples": {
                "subscription_capture_request": {
                  "value": {
                    "note": "Charging as the balance reached the limit",
                    "capture_type": "OUTSTANDING_BALANCE",
                    "amount": {
                      "currency_code": "USD",
                      "value": "100"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    },
    "/v1/billing/subscriptions/{id}/transactions": {
      "get": {
        "summary": "List transactions for subscription",
        "description": "Lists transactions for a subscription.",
        "operationId": "subscriptions.transactions",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactions_list"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_400"
                    },
                    {
                      "$ref": "#/components/schemas/subscriptions.transactions-400"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_401"
                    },
                    {
                      "$ref": "#/components/schemas/401"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_403"
                    },
                    {
                      "$ref": "#/components/schemas/403"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_404"
                    },
                    {
                      "$ref": "#/components/schemas/404"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_500"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/start_time"
          },
          {
            "$ref": "#/components/parameters/end_time"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://uri.paypal.com/services/subscriptions"]
          }
        ],
        "tags": ["subscriptions"]
      }
    }
  },
  "components": {
    "requestBodies": {
      "patch_request": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/patch_request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "Oauth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "scopes": {
              "https://uri.paypal.com/services/subscriptions": "Manage plan & subscription"
            }
          }
        }
      }
    },
    "responses": {
      "default": {
        "description": "The default response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error_default"
            }
          }
        }
      }
    },
    "schemas": {
      "400": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_PARAMETER_VALUE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PARAMETER_VALUE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["The value of a field is invalid."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "401": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_ACCOUNT_STATUS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_ACCOUNT_STATUS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Account validations failed for the user."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "403": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "PERMISSION_DENIED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["PERMISSION_DENIED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "You do not have permission to access or perform operations on this resource."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "404": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "INVALID_RESOURCE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_RESOURCE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Specified resource ID does not exist. Please check the resource ID and try again."
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "422": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "title": "USER_ACCOUNT_CLOSED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["USER_ACCOUNT_CLOSED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["User account locked or closed."]
                    }
                  }
                },
                {
                  "title": "CURRENCY_MISMATCH",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CURRENCY_MISMATCH"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "All currency codes in the request should be of similar value."
                      ]
                    }
                  }
                },
                {
                  "title": "MULTIPLE_FREE_TRIAL_BILLING_CYCLES_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": [
                        "MULTIPLE_FREE_TRIAL_BILLING_CYCLES_NOT_SUPPORTED"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Only one free trial billing cycle is allowed."]
                    }
                  }
                },
                {
                  "title": "MORE_THAN_TWO_TRIAL_BILLING_CYCLE_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": [
                        "MORE_THAN_TWO_TRIAL_BILLING_CYCLE_NOT_SUPPORTED"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Only two trial billing cycles are allowed."]
                    }
                  }
                },
                {
                  "title": "MISSING_REGULAR_BILLING_CYCLE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_REGULAR_BILLING_CYCLE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Plan should have at least one regular billing cycle."
                      ]
                    }
                  }
                },
                {
                  "title": "MULTIPLE_REGULAR_BILLING_CYCLES_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MULTIPLE_REGULAR_BILLING_CYCLES_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Only one regular billing cycle is allowed."]
                    }
                  }
                },
                {
                  "title": "INVALID_BILLING_CYCLE_SEQUENCE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_BILLING_CYCLE_SEQUENCE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Billing cycle sequence should start with `1` and be consecutive."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_BILLING_CYCLE_SEQUENCE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_BILLING_CYCLE_SEQUENCE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Trial Billing cycle should precede regular billing cycle."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_TRIAL_BILLING_TOTAL_CYCLES",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_TRIAL_BILLING_TOTAL_CYCLES"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Total cycles for trial billing must be greater than '0'."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PRICING_TIER_AMOUNT",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PRICING_TIER_AMOUNT"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Free tiers are not supported."]
                    }
                  }
                },
                {
                  "title": "MISSING_PRICING_SCHEME_TIERS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["MISSING_PRICING_SCHEME_TIERS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Tier(s) are missing for some quantities."]
                    }
                  }
                },
                {
                  "title": "OVERLAPPING_PRICING_SCHEME_TIERS",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["OVERLAPPING_PRICING_SCHEME_TIERS"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified quantity overlaps with multiple pricing tiers."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PRICING_MODEL",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PRICING_MODEL"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "The specified pricing model is not supported for trial billing cycle."
                      ]
                    }
                  }
                },
                {
                  "title": "FIXED_PRICE_NOT_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["FIXED_PRICE_NOT_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Fixed price is not supported for tiered pricing schemes."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_PRICING_TIER_QUANTITY",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_PRICING_TIER_QUANTITY"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Tier starting quantity must be less than ending quantity."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_QUANTITY_SUPPORTED",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_QUANTITY_SUPPORTED"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Quantity is always supported for volume and tiered plans."
                      ]
                    }
                  }
                },
                {
                  "title": "CURRENCY_NOT_SUPPORTED_FOR_RECEIVER",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["CURRENCY_NOT_SUPPORTED_FOR_RECEIVER"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "This currency cannot be accepted for this recipient’s account."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_METADATA_CUSTOM_NOTE",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_METADATA_CUSTOM_NOTE"]
                    },
                    "description": {
                      "type": "string",
                      "enum": [
                        "Merchant custom note cannot exceed 255 characters."
                      ]
                    }
                  }
                },
                {
                  "title": "INVALID_METADATA_INVOICE_ID",
                  "properties": {
                    "issue": {
                      "type": "string",
                      "enum": ["INVALID_METADATA_INVOICE_ID"]
                    },
                    "description": {
                      "type": "string",
                      "enum": ["Invoice id cannot exceed 127 characters."]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "account_id": {
        "type": "string",
        "title": "PayPal Account Identifier",
        "description": "The account identifier for a PayPal account.",
        "format": "ppaas_payer_id_v3",
        "minLength": 13,
        "maxLength": 13,
        "pattern": "^[2-9A-HJ-NP-Z]{13}$"
      },
      "amount_with_breakdown": {
        "type": "object",
        "title": "Amount with Breakdown",
        "description": "The breakdown details for the amount. Includes the gross, tax, fee, and shipping amounts.",
        "properties": {
          "gross_amount": {
            "description": "The amount for this transaction.",
            "readOnly": true,
            "$ref": "#/components/schemas/money"
          },
          "total_item_amount": {
[...]
