<#@ template visibility="internal" #>
<#if(Model.HasDescription){#>/** <#=Model.Description#> */
<#}#>export enum <#=Model.Name#> {
<#foreach(var enumeration in Model.Enums){#>
    <#=enumeration.Name#> = <#=enumeration.Value#>, 
<#}#>
}