; What is EditorConfig? http://editorconfig.org/

root = true

; general settings
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = false

# Verify
[*.{received,verified}.{txt}]
charset = utf-8-bom
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
