<#@ assembly name="System.Core" #>
<#@ import namespace="NJsonSchema.CodeGeneration" #>
<# if(Model.HasDescription){ #>/// <summary><#=Model.Description#></summary>
<# } #>public enum <#=Model.Name#>
{
<# foreach(var pair in Model.Enums){ #>
    <#=pair.Name#> = <#=pair.Value#>,
<# } #>
}