<#@ template visibility="internal" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="NJsonSchema.CodeGeneration" #>
<# if(Model.HasDescription){ #>/// <summary><#=ConversionUtilities.ConvertCSharpDocBreaks(Model.Description, 0)#></summary>
<# } #>public enum <#=Model.Name#>
{
<# foreach(var pair in Model.Enums){ #>
<#if(Model.IsStringEnum){#>    [EnumMember(Value = "<#=pair.Value#>")]
<#}#>
    <#=pair.Name#> = <#=pair.InternalValue#>,

<# } #>
}